.evnt-panel {
  padding: 40px 30px 0;
}

.evnt-panel-wrapper {
  margin: 0 auto; max-width: 1416px;  position: relative;
}

.events {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

div.ant-picker-calendar-date-content {
  overflow: hidden !important;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
  height: 106px;
  overflow: hidden;
  padding: 4px 4px 0px;
}

li {
  line-height: 1.1;
  overflow: hidden;
}

.ant-tag {
  width: 100%;
  margin: 0 !important;
  padding: 0 2px !important;
  max-width: 100%;
  line-height: 1.1 !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-tag > a {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-tag.deadline {
  background: red;
}

.ant-tag.htmlTask, .ant-tag.selfEducation, .ant-tag.jsTask, .ant-tag.externalTask, .ant-tag.codeWars, .ant-tag.codeJam, .ant-tag.newTask{
  background: green;
}

.ant-tag.lecture, .ant-tag.lectureOnline, .ant-tag.lectureOffline, .ant-tag.lectureMixed, .ant-tag.lectureSelfStudy{
  background: blue;
}

.ant-tag.test {
  background: #ff7b00;
}

.ant-tag.info {
  background: #ff7b00;
}

.ant-tag.warmup {
  background: #63ab91;
}

.ant-tag.meetup {
  background: #bde04a;
}

.ant-tag.workshop {
  background: #bde04a;
}

.ant-tag.interview {
  background: #63ab91;
}

.ant-btn-link {
  color: #494e5c !important;
}

.ant-btn-link:hover {
  color: #40a9ff  !important;
}
