.events {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

div.ant-picker-calendar-date-content {
  overflow: hidden !important;
}

li {
  line-height: 1.1;
  overflow: hidden;
}

.ant-tag {
  width: 100%;
  margin: 0 !important;
  padding: 0 2px !important;
  max-width: 100%;
  line-height: 1.1 !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-tag > a {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-tag.task {
  color: #1890ff;
  background: #e6f7ff;
  border-color: #91d5ff;
}

.ant-tag.test {
  color: #fa541c;
  background: #fff2e8;
  border-color: #ffbb96;
}

.ant-tag.education {
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
}

.ant-tag.live {
  color: #722ed1;
  background: #f9f0ff;
  border-color: #d3adf7;
}




